<div class="login-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
      <div
        *ngIf="message"
        class="form-alert">
        {{message}}
      </div>
    </mat-card-header>
    <div [formGroup]="userForm" class="form-wrapper">
      <mat-card-content>
        <mat-form-field class="form-control">
          <input formControlName="firstName" matInput placeholder="First Name">
          <div
            *ngIf="userForm.controls['firstName'].invalid && (userForm.controls['firstName'].dirty || userForm.controls['firstName'].touched)"
            class="form-control-alert">
            <div *ngIf="userForm.controls['firstName'].errors?.['required']">Required field.</div>
          </div>
        </mat-form-field>
        <mat-form-field class="form-control">
          <input formControlName="lastName" matInput placeholder="Last Name">
          <div
            *ngIf="userForm.controls['lastName'].invalid && (userForm.controls['lastName'].dirty || userForm.controls['lastName'].touched)"
            class="form-control-alert">
            <div *ngIf="userForm.controls['lastName'].errors?.['required']">Required field.</div>
          </div>
        </mat-form-field>
        <mat-form-field class="form-control">
          <input formControlName="email" matInput placeholder="Email">
          <div
            *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)"
            class="form-control-alert">
            <div *ngIf="userForm.controls['email'].errors?.['required']">Required field.</div>
            <div *ngIf="userForm.controls['email'].errors?.['email']">Wrong email.</div>
          </div>
        </mat-form-field>
      </mat-card-content>
      <button (click)="submit()" [disabled]="!this.userForm.valid || requestStarted" mat-stroked-button color="accent" class="btn-block">
        Submit
      </button>
    </div>
  </mat-card>
</div>
